@{
    Layout = "_Layout";
}
<!-- Detta är en Default setting för att definiera _Layout


<h2>View Start Html</h2>
<h3>Menu:</h3>
<ul>
    <li>House.</li>
    <li>Bathroom.</li>
</ul>
<h3>End of View Start.</h3>-->
