@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Projects";
}


<h3>Projects from my GitHub:</h3>
<ul>
    <li>
        <a href="https://github.com/Krejstrup/Assignment2Hangman">Hangman - a console game of hangman.</a>
    </li>
    <li>
        <a href="https://github.com/Krejstrup/ToDoIt">ToDoIt - a C# project just for testing the language.</a>
    </li>
    <li>
        <a href="https://github.com/Krejstrup/JavaScript-Game-Sokoban">Java Sokoban game - is a small Html/JavaScript game.</a>
    </li>
</ul>